<form class="form-horizontal">
  <div class="form-group">
    <label for="name" class="col-md-2 control-label">Name</label>
    <div class="col-md-5">
      {{input name="name" value=name class="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-md-2 control-label">Email</label>
    <div class="col-md-5">
      {{input name="email" value=email class="form-control"}}
    </div>
  </div>
  <div class="form-group">
      <label for="password" class=" col-md-2 control-label">Password</label>
      <div class="col-md-5">
        {{input name="password" value=password class='form-control' type="password"}}
      </div>
  </div>
  <div class="form-group">
   <div class="col-sm-offset-2 col-sm-10">
     <button {{action "authenticate"}} class="button btn btn-sm btn-primary">Save</button>
   </div>
 </div>
</form>
